<div class="elemento_form">
	<label>número de tu móvil</label> <br />
	<%= f.text_field :phone %>
</div>

<div class="elemento_form">
	<label>tu clave localízame</label> <br />
	<%= f.password_field :password_localizame %>
</div>

<div class="elemento_form">
	<label>tu clave SMS</label> <br />
	<%= f.password_field :password_sms %>
</div>

<div class="elemento_form">
	<label>email</label> <br />
	<%= f.text_field :email %>
</div>
							
<div class="elemento_form">
	<label>clave para esta aplicacion</label> <br />
	<%= f.password_field :password %>
</div>
