<div id="barra_instrucciones">
	Introduce tu teléfonos y tu clave para acceder
	a tus alertas. Si no tienes usuario todavía
	<%= link_to 'regístrate', :action => 'new' %>.
	(Sí quieres probar la aplicación puedes 
	<%= link_to 'regístrarte', :action => 'new' %>
	con datos ficticios, en esta versión de la aplicación no se comprueba nada
	ó puedes probar nuestro usuario de prueba con teléfono: '600600600' y 
	clave 'clave')
</div> <!-- barra_mensaje -->

<div id="col_izq">
	<% form_for :user, @user, :url => {:action => 'login_check'} do |f| %>
		
		<div class="elemento_form">
			<label>teléfono</label> <br />
			<%= f.text_field :phone %>
		</div>
									
		<div class="elemento_form">
			<label>clave</label> <br />
			<%= f.password_field :password %>
		</div>
				
		<div class="elemento_form submit">
			<%= f.submit 'entrar' %>
		</div>
		
	<% end %>	<!-- form -->
</div> <!-- col_izq -->